<h1>Smooth animated and fully draggable!</h1>
<form [formGroup]="form">
  <div class="slider-inner">
    <ls-slider
      [ceilValue]="11"
      [enableButtonOverlapping]="false"
      formControlName="slider"
      [stepsLabels]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ]"
    >
      <!--      [disabled]="true"-->
      <!--      [value]="2"-->
      <!--  (draggingEnd)="emitShiftedDates()"-->
      <!--  (lowValueChange)="shiftStartDate($event)"-->
      <!--  (highValueChange)="shiftEndDate($event)"-->
    </ls-slider>
  </div>
</form>

<h1>Buttons optionally swappable and "overlapable" ;)</h1>
<div class="slider-inner">
  <ls-slider [from]="5"
             [to]="20"
             [ceilValue]="47"
             [stepsLabels]="['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec' ]"
  >
    <!--      [disabled]="true"-->
    <!--      [value]="2"-->
    <!--  (draggingEnd)="emitShiftedDates()"-->
    <!--  (lowValueChange)="shiftStartDate($event)"-->
    <!--  (highValueChange)="shiftEndDate($event)"-->
  </ls-slider>
</div>

<h1>Unlimitedly customizable</h1>
<div class="slider-inner">
  <ls-slider id="second-slider"
             [from]="5"
             [to]="9"
             [ceilValue]="10"
             [hideSideSteps]="true"
  >
    <!--      [disabled]="true"-->
    <!--      [value]="2"-->
    <!--  (draggingEnd)="emitShiftedDates()"-->
    <!--  (lowValueChange)="shiftStartDate($event)"-->
    <!--  (highValueChange)="shiftEndDate($event)"-->
  </ls-slider>
</div>



<div class="slider-inner">
  <ls-slider id="third-slider"
             #thirdSlider
             [(from)]="thirdFrom"
             [(to)]="thirdTo"
             [ceilValue]="thirdValues.length-1"
             [emitValueWhileMoving]="true"
             [showGrid]="false"
             style="--to:{{thirdValues[thirdTo]}}; --from:{{thirdValues[thirdFrom]}}"
  >
    <!--      [disabled]="true"-->
    <!--      [value]="2"-->
    <!--  (draggingEnd)="emitShiftedDates()"-->
    <!--  (lowValueChange)="shiftStartDate($event)"-->
    <!--  (highValueChange)="shiftEndDate($event)"-->
  </ls-slider>
</div>

<div class="slider-inner">
  <ls-slider id="fourth-slider"
             #fourthSlider
             [(from)]="fourthFrom"
             [(to)]="fourthTo"
             [ceilValue]="47"
             [BUTTON_WIDTH]="5"
             [hideSideSteps]="true"
             [fromLabel]="fourthFrom.toString()"
             [toLabel]="fourthTo.toString()"
             [emitValueWhileMoving]="true"
  >
    <!--      [disabled]="true"-->
    <!--      [value]="2"-->
    <!--  (draggingEnd)="emitShiftedDates()"-->
    <!--  (lowValueChange)="shiftStartDate($event)"-->
    <!--  (highValueChange)="shiftEndDate($event)"-->
  </ls-slider>
</div>


<div class="slider-inner">
  <ls-slider id="fifth-slider"
             [(value)]="fifthValue"
             [rangeSelector]="false"
             [valueLabel]="fifthValue.toString()"
             [emitValueWhileMoving]="true"
             [ceilValue]="10000"
             [showGrid]="false"
  >
  </ls-slider>
</div>

<h1>Angular based, reactive forms compatible, light weight and more...</h1>

