$date-width: 200px;
$slider-min-width: calc(#{$date-width} + 50px);

::ng-deep {
  body {
    width: 100vw;
    margin: 0;
    @media (prefers-color-scheme: dark) {
      background: #353535;
    }
  }
}

h1 {
  padding-left: 1rem;
}

.slider-inner {
  padding-bottom: 10px;


  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  width: 100vw;
  min-width: $slider-min-width;
}


#second-slider {
  .selected-range {
    height: 100%;
  }

  .slider-button {
    border-radius: 50%;
    height: 17px;

    &:after {
      display: block;
      content: '•';
      color: white;

    }
  }

  .active {
    color: red;

    &:after {
      color: red;
    }
  }

}

#third-slider {

  .range-slider {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(100, 0, 238, 1) 0%, rgba(2, 0, 36, 1) 100%);
  }

  .selected-range {
    background: rgba(#111, .3);
  }

  .slider-button {
    box-shadow: 0 0 4px rgba(white, .3);

    &:first-of-type {
      background-color: var(--from);
    }

    &:last-of-type {
      background-color: var(--to);
    }

    & > span {
      background-color: white;
    }
  }

}


#fourth-slider {
  .range-slider {
    background: rgb(2, 0, 36);
    background: linear-gradient(0deg, rgba(2, 0, 36, 1) 0%, rgba(100, 50, 238, 1) 50%, rgba(2, 0, 36, 1) 100%);
  }

  .selected-range {
    background: rgba(2, 0, 36, .6);
    height: 140%;
  }

  .slider-button {
    background-color: white;

    & > span {
      background-color: white;
    }

    .label {
      opacity: 0;
      transition: opacity .2s ease-out;
    }

  }

  .active {
    .label {
      opacity: 1;
    }
  }

  .step-decorator {
    width: .5px;
    background-color: rgba(#BCBEBF, .7);
    display: inline-block;

    height: 50%;
    margin-top: 7px;

    &:nth-child(5n + 1) {
      height: 100%;
      margin-top: 5px;
    }
  }
}

#fifth-slider {
  .selected-range {
    height: 100%;
    border-radius: 10px;
  }
}
