@mixin user-select-none {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

@mixin touch-action-none {
  touch-action: none;
}
// sizes
$button-height: 24px;
$slider-height: 12px;
//colors

@mixin styles($app_lightest_grey, $app_light_grey, $slider_range_color, $slider_font_color) {
  .animated {
    transition: all .3s ease-out;
  }

  .slider-container {
    padding: 1rem;
    @include user-select-none;
    @include touch-action-none;

    .range-slider {
      /** Necessary for steps displayed */
      display: flex;
      justify-content: space-between;

      width: 100%;
      height: $slider-height;
      background-color: rgba($app_lightest_grey, .2);
      border: 1px solid rgba($app_lightest_grey, .2);
      border-radius: 20px;
      position: relative;

      .selected-range {
        position: absolute;
        height: $button-height;
        width: 200px;
        background-color: rgba($slider_range_color, .2);
        top: 50%;

        transform: translate(10px, -50%);
      }

      .slider-button {
        @include touch-action-none;
        position: absolute;
        height: $button-height;
        background-color: white;
        border: 1px solid rgba($app_light_grey, .2);
        border-radius: 5px;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        z-index: 10;
        cursor: e-resize;

        & > span {
          width: .5px;
          height: 60%;
          background-color: rgba($app_lightest_grey, .7);
          display: inline-block;
        }

        & .label {
          pointer-events: none;
          position: absolute;
          top: -30px;
          background: white;
          padding: 2px;
          border-radius: 4px;
        }
      }

      .step-decorator {
        width: .5px;
        height: 100%;
        background-color: rgba($app_lightest_grey, .7);
        display: inline-block;

        margin-top: 5px;
      }
    }

    .steps-labels {
      display: flex;
      justify-content: space-between;
      margin-top: 10px;
      color: $slider_font_color;
      font-size: .7rem;

      width: 100%;
    }
  }

  .draggable {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  .disabled {
    opacity: 0.7;
    cursor: default !important;

    .slider-button,
    .selected-range {
      cursor: inherit !important;
    }
  }
}

@media (prefers-color-scheme: dark) {
  $app_lightest_grey: #BCBEBF;
  $app_light_grey: #6C7579;
  $slider_range_color: #c2c44d;
  $slider_font_color: white;

  @include styles($app_lightest_grey, $app_light_grey, $slider_range_color, $slider_font_color);
}

@media (prefers-color-scheme: light) {
  $app_lightest_grey: #BCBEBF;
  $app_light_grey: #6C7579;
  $rsb_green: #22c4ac;
  $slider_font_color: black;

  @include styles($app_lightest_grey, $app_light_grey, $rsb_green, $slider_font_color);
}
