@mixin user-select {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

@mixin touch-action-none {
  touch-action: none;
}

// sizes
$button-height: 24px;
$slider-height: 12px;
//colors
$app_lightest_grey: #BCBEBF;
$app_light_grey: #6C7579;
$rsb_green: #22c4ac;

.animated{
  transition: all .3s ease-out;
}

.slider-container {
  padding: 1rem;

  .range-slider {
    /** Necessary for steps displayed */
    display: flex;
    justify-content: space-between;

    width: 100%;
    height: $slider-height;
    background-color: rgba($app_lightest_grey, .2);
    border: 1px solid rgba($app_lightest_grey, .2);
    border-radius: 20px;
    position: relative;

    .selected-range {
      @include user-select;
      @include touch-action-none;
      position: absolute;
      height: $button-height;
      width: 200px;
      background-color: rgba($rsb_green, .2);
      top: 50%;

      transform: translate(10px, -50%);
    }

    .slider-button {
      @include touch-action-none;
      position: absolute;
      height: $button-height;
      background-color: white;
      border: 1px solid rgba($app_light_grey, .2);
      border-radius: 5px;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      z-index: 10;
      cursor: e-resize;

      &>span {
        width: 1px;
        height: 60%;
        background-color: rgba($app_lightest_grey, .7);
        display: inline-block;
      }
    }

    .step-decorator {
      width: 1px;
      height: 100%;
      background-color: rgba($app_lightest_grey, .7);
      display: inline-block;
    }
  }
}

.draggable {
  cursor: grab;
  &:active {
    cursor: grabbing;
  }
}

.disabled {
  opacity: 0.7;
  cursor: default !important;

  .slider-button,
  .selected-range {
    cursor: inherit !important;
  }
}

